
.lavaLampBottomStyle
{
}
.lavaLampBottomStyle li
{
    float: left;
    list-style: none;
}
.lavaLampBottomStyle li.back
{
    border-bottom: 5px solid #a51e1e;
    width: 9px;
    height: 30px;
    z-index: 8;
    position: absolute;
}

.lavaLampBottomStyle li a
{
    font: bold 16px arial;
    text-decoration: none;
    color: #000;
    outline: none;
    top: 7px;
    letter-spacing: 0;
    z-index: 10;
    display: block;
    height: 30px;
    position: relative;
    overflow: hidden;
    margin: auto 10px;
}
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited
{
    border: none;
}
